#snake{
    width: 200px;
    padding-top: 0.2px;
    height: 30px;
    background-color: black;
    border-radius: 15px;
    margin-left: 10px;
}

#head{
    width: 8px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 5px;
}
#head1{
    width: 8px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: -12px;
}
#btn{
    width: 75px;
    border: none;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    margin-top: 38%;
    margin-left: 42%;
    cursor: pointer;
}

#btn1{
    border: none;
    display: inline-block;
    background-color: gray;
    border-radius: 10px;
    margin-left: 35px;
    cursor: pointer;
}

#apple{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 500px;
    background-color: red;
}

#hr{
    position: absolute;
    right: 10px;
    width: 5px;
    height: 100%;
    background-color: red;

}
body{
    position: relative;
}